.another {

    .another__container {
        padding: 100px 0;

        @include tablets() {
            padding: 100px 15px;
        }

        @include phones() {
            padding: 100px 10px;
        }
    }

    .another__title {
        color: #333333;
        font-size: 50px;
        font-weight: 700;

        @include phones() {
            font-size: 30px;
            text-align: center;
        }
    }

    .item__title {
        color: #333333;
        font-weight: 700;
        margin-bottom: 50px;
    }

    .another__list {
        display: flex;
        flex-direction: column;
        width: 100%;

        .another__item {
            display: flex;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            margin-bottom: 30px;
            padding: 45px 65px;

            @include phones() {
                padding: 10px 25px;
            }
        }

        .item__content {
            width: 60%;

            @include phones() {
                width: 100%;
            }
        }

        .item__title {
            color: #333333;
            font-size: 30px;
            font-weight: 700;
            margin: 0 0 20px 0;

            @include phones() {
                text-align: center;
                font-size: 24px;
            }
        }

        .item__list {
            color: #333333;
            margin-bottom: 40px;

            @include phones() {
                margin-bottom: 0px;
            }

            .list__item {
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .item__buy {
            display: flex;
            align-items: center;

            .buy__price {
                color: #ff6212;
                font-size: 30px;
                font-weight: 700;
                margin-right: 30px;

                @include phones() {
                    font-size: 24px;
                }
            }

            .buy__btn {
                width: 219px;
                height: 50px;
                color: #ffffff;
                font-size: 20px;
                border-radius: 4px;
                border: 2px solid #ff6212;
                background-color: #ff6212;
                cursor: pointer;
                transition: .3s;

                @include phones() {
                    font-size: 16px;
                }

                &:hover {
                    color: #ff6212;
                    background: #ffffff;
                }
            }
        }

        .item__img {

            &--active {
                display: none;
            }

            @include phones() {
                display: none;

                &--active {
                    display: inherit;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}