.callback {
    background: url('../images/callback-bg.png') center center no-repeat;
    background-size: cover;
    min-height: 380px;

    .callback__container {
        align-items: center;
        justify-content: center;
        min-height: 100%;
        padding: 50px 0;

        @include phones() {
            padding: 20px 10px;
        }
    }

    .callback__content {
        display: flex;
        align-items: center;
        justify-content: center;

        .content__img {
            width: 80px;
            height: 80px;
            margin-right: 30px;

            @include phones() {
                width: 60px;
                height: 60px;
            }
        }

        .content__title {
            color: #ffffff;
            font-size: 40px;
            font-weight: 700;
            max-width: 605px;

            @include phones() {
                font-size: 20px;
            }

            .title__color {
                color: #ff6212;
            }
        }
    }

    .callback__form {
        display: flex;
        justify-content: space-around;
        width: 100%;

        @include phones() {
            flex-direction: column;
            align-items: center;
        }

        .form__inp {
            width: 200px;
            height: 49px;
            border-radius: 4px;
            background-color: #ffffff;
            border: none;
            padding: 20px;

            @include phones() {
                width: 100%;
                margin-bottom: 20px;
            }
        }

        .form__btn {
            width: 255px;
            height: 49px;
            border-radius: 4px;
            border: 1px solid #ff6212;
            background-color: #ff6212;
            color: white;
            font-size: 20px;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background: none;
                color: #ff6212;
            }
        }
    }
}