.catalog {

    .catalog__container {
        padding: 0 15px;
        
        @include tablets() {
            padding: 0 15px;
        }

        @include phones() {
            padding: 0 10px;
        }
    }

    .catalog__title {
        color: #333333;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 30px;

        @include horizon() {
            font-size: 30px;
        }
    }

    .catalog__text {
        color: #333333;
        font-size: 20px;
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 60px;
        }

        .text__color {
            color: #ff6212;
        }
    }

    .catalog__list {
        display: flex;
        flex-direction: column;
    }

    .catalog__item {
        margin-bottom: 40px;
        display: flex;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 50px 60px;

        @include horizon() {
            flex-direction: column;
            padding: 15px 20px;
            align-items: center;
        }

        .item__info {
            width: 60%;
            display: flex;
            flex-direction: column;

            @include phones() {
                width: 100%;
            }
        }

        .info__top {
            display: flex;
            align-items: center;

            @include phones() {
                flex-direction: column;
            }

            @include tablets() {
                flex-direction: column;
            }
        }

        .top__title {
            font-size: 30px;
            font-weight: 700;
            color: #333333;
            margin: 0 30px 0 0;

            @include phones() {
                text-align: center;
                margin: 0 0 10px 0;
            }

            @include tablets() {
                text-align: center;
                margin: 0 0 20px 0;
            }
        }

        .info__img {
            display: none;

            @include horizon() {
                display: inherit;
                width: 60%;
                margin-bottom: 20px;
            }
        }
        
        .top__class {
            display: flex;

            .class__item {
                text-decoration: underline;
                font-size: 20px;
                color: #999999;
                margin-right: 10px;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    color: #333333;
                }

                &--active {
                    color: #333333;
                }
            }
        }

        .info__size {
            display: flex;
            margin-bottom: 40px;

            @include horizon() {
                align-items: center;
                width: 100%;
                justify-content: center;
            }
        }

        .size__item {
            margin-right: 30px;
            display: flex;
            flex-direction: column;

            @include phones() {
                margin-right: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            .item__name {
                margin-bottom: 5px;
            }

            .item__count {
                display: flex;
                align-items: center;

                .count__item {
                    color: #999999;
                    text-decoration: underline;
                    margin-right: 10px;
                    transition: .3s;
                    cursor: pointer;

                    &:hover {
                        text-decoration: none;
                        background-color: #ededed;
                        padding: 10px 15px;
                        color: #333333;
                    }

                    &--active {
                        text-decoration: none;
                        background-color: #ededed;
                        padding: 10px 15px;
                        color: #333333;
                    }
                }
            }
        }

        .info__about {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 50px;

            @include horizon() {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .about__item {
                width: 50%;
                color: #333333;
                margin-bottom: 25px;

                @include tablets() {
                    margin-right: 20px;
                    width: 40%;
                }

                @include horizon() {
                    width: 100%;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .info__buy {
            display: flex;
            align-items: center;

            @include horizon() {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }

            .buy__old {
                text-decoration: line-through;
                font-size: 20px;
                color: #999999;
                margin: 0 10px 0 0;
            }

            .buy__new {
                color: #ff6212;
                font-size: 30px;
                font-weight: 700;
                margin: 0 35px 0 0;
            }

            .buy__btn {
                width: 274px;
                height: 50px;
                border-radius: 4px;
                border: 2px solid #ff6212;
                background-color: #ff6212;
                color: white;
                cursor: pointer;
                transition: .3s;
                font-size: 20px;

                @include phones() {
                    margin-top: 20px;
                    width: 100%;
                }

                &:hover {
                    background: none;
                    color: #ff6212;
                }
            }
        }

        .item__img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40%;
            
            @include horizon() {
                display: none;
            }

            .img__img {
                width: 50%;

                @include phones() {
                    width: 80%;
                }

                @include tablets() {
                    width: 80%;
                }
            }
        }
    }
}