.complete {

    .complete__container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 15px;

        @include tablets() {
            padding: 0 15px;
        }

        @include phones() {
            padding: 0 10px;
        }
    }

    .complete__title {
        color: #333333;
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 50px;
        width: 40%;
        
        @include horizon() {
            width: 100%;
            font-size: 30px;
            text-align: center;
        }
    }

    .complete__list {
        display: flex;
        width: 60%;

        @include horizon() {
            width: 100%;
            margin-bottom: 30px;
            justify-content: center;
        }

        .complete__item {
            margin-right: 20px;

            @include horizon() {
                margin-right: 10px;
            }

            .item__link {
                color: #999999;
                transition: .3s;

                &:hover {
                    color: #333333;                    
                }

                &--active {
                    color: #333333;
                }
            }
        }
    }

    .complete__img {
        width: 100%;

        @include tablets() {
            width: 100%;
        }

        @include horizon() {
            width: 100%;
        }
    }
}