.contacts {

    .contacts__container {
        flex-direction: row;
        padding: 100px 0;
        justify-content: space-between;
    }

    .contacts__content {
        width: 40%;
        display: flex;
        flex-direction: column;

        .content__title {
            color: #333333;
            font-size: 50px;
            font-weight: 700;
        }

        .content__text {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .content__link {
            text-decoration: none;
            color: #333333;
            transition: .3s;

            &:hover {
                color: #ff6212;
                text-decoration: underline;
            }
        }
    }

    .contacts__map {
        width: 55%;
        height: 500px;
        background: yellow;
    }
}