.contacts {

    .contacts__container {
        flex-direction: row;
        padding: 100px 0;
        justify-content: space-between;

        @include tablets() {
            padding: 100px 15px;
        }

        @include horizon() {
            padding: 100px 10px;
            flex-direction: column;
        }
    }

    .contacts__content {
        width: 40%;
        display: flex;
        flex-direction: column;

        @include horizon() {
            width: 100%;
            margin-bottom: 20px;
        }

        .content__title {
            color: #333333;
            font-size: 50px;
            font-weight: 700;

            @include horizon() {
                font-size: 30px;
                text-align: center;
            }
        }

        .content__text {
            font-size: 20px;
            margin-bottom: 30px;
        }

        .content__link {
            text-decoration: none;
            color: #333333;
            transition: .3s;

            &:hover {
                color: #ff6212;
                text-decoration: underline;
            }
        }
    }

    .contacts__map {
        width: 55%;
        height: 500px;

        @include horizon() {
            width: 100%;
        }
    }
}