.header {

    .header__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px;

        @include tablets() {
            padding: 20px 10px;
        }

        @include horizon() {
            flex-direction: column;
            align-items: flex-start;
        }

        @include phones() {
            flex-direction: column;
            padding: 20px 10px;
            align-items: flex-start;
        }
    }

    .header__left {
        display: flex;
        align-items: center;

        @include tablets() {
            margin-right: 20px;
        }

        @include horizon() {
            margin-bottom: 20px;
            width: 100%;
            justify-content: space-between;
        }
    }

    .header__right {
        display: flex;
        align-items: center;

        @include horizon() {
            width: 100%;
            justify-content: space-between; 
        }
    }

    .header__logo {
        width: 200px;
        margin-right: 40px;

        @include tablets() {
            margin-right: 20px;
        }

        @include horizon() {
            width: 150px;
        }

        @include phones() {
            width: 140px;
        }
    }

    .adress__text {
        max-width: 130px;
        margin-right: auto;
        margin: 0;

        @include tablets() {
            width: 130px;
        }
    }

    .header__phone {
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        margin-right: 40px;
        transition: .3s;

        @include tablets() {
            margin-right: 20px;
            font-size: 18px;
            width: 155px;
        }

        @include phones() {
            width: 60%;
            font-size: 16px;
            margin-right: 20px;
        }

        &:hover {
            color: #ff6212;
        }
    }

    .header__btn {
        width: 198px;
        height: 50px;
        border-radius: 4px;
        border: 2px solid #ff6212;
        font-size: 20px;
        color: #ff6212;
        background: none;
        cursor: pointer;
        transition: .3s;

        @include tablets() {
            width: inherit;
        }

        @include horizon() {
            width: 198px;
        }

        @include phones() {
            width: 40%;
        }

        &:hover {
            background: #ff6212;
            color: white;
        }
    }
}