.hero {
    background: url('../images/hero-bg.png');
    background-size: cover;
    min-height: 645px;

    .hero__container {
        padding: 50px 0;

        @include tablets() {
            padding: 50px 15px;
        }

        @include phones() {
            padding: 50px 10px;
        }
    }

    .hero__title {
        font-size: 62px;
        color: #ffffff;
        max-width: 730px;
        font-weight: 700;
        margin-bottom: 30px;
        line-height: 65.17px;

        @include horizon() {
            max-width: 300px;
            font-size: 30px;
            line-height: inherit;
        }

        .title__color {
            color: #ff6212;
        }
    }
    
    .hero__btn {
        width: 218px;
        height: 50px;
        border-radius: 4px;
        border: 2px solid #ff6212;
        background-color: #ff6212;
        color: white;
        cursor: pointer;
        transition: .3s;
        margin-bottom: 100px;
        font-size: 20px;

        @include phones() {
            margin-bottom: 30px;
        }

        &:hover {
            background: none;
            color: #ff6212;
        }
    }

    .hero__list {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include phones() {
            flex-direction: column;
            align-items: flex-start;
        }

        .item__text {
            color: white;

            .text__color {
                color: #ff6212;
            }
        }
    }
}