<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>СПБ</title>
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <div class="header__left">
                    <img src="./assets/images/logo.png" alt="logo" class="header__logo">
                    <div class="header__adress">
                        <p class="adress__text">г. Челябинск, ул. Складская, д. 1</p>
                    </div>
                </div>
                <div class="header__right">
                    <a href="tel:+73517775576" class="header__phone">+7 (351) 777-55-76</a>
                    <button class="header__btn">Заказать звонок</button>
                </div>
            </div>
        </header>
        <nav class="nav">
            <div class="container nav__container">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#profit" class="item__link">Выгода</a>
                    </li>
                    <li class="nav__item">
                        <a href="#catalog" class="item__link">Каталог</a>
                    </li>
                    <li class="nav__item">
                        <a href="#calculate" class="item__link">Прайс-лист</a>
                    </li>
                    <li class="nav__item">
                        <a href="#plus" class="item__link">Преимущества</a>
                    </li>
                    <li class="nav__item">
                        <a href="#confidence" class="item__link">О компании</a>
                    </li>
                    <li class="nav__item">
                        <a href="#quality" class="item__link">Сертификаты</a>
                    </li>
                    <li class="nav__item">
                        <a href="#complete" class="item__link">Готовые проекты</a>
                    </li>
                    <li class="nav__item">
                        <a href="#contacts" class="item__link">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="section hero">
            <div class="container hero__container">
                <h1 class="hero__title">Пеноблок повышенной прочности от завода производителя по цене
                    <span class="title__color">от 1700 руб/м
                        <sup>3</sup>
                    </span>
                </h1>
                <a href="#" class="hero__btn">Перейти в каталог</a>
                <ul class="hero__list">
                    <li class="hero__item">
                        <p class="item__text">
                            <span class="text__color">Доставка дешевле на 30%</span>
                            <br> чем у конкурентов за счет собственного транспорта
                        </p>
                    </li>
                    <li class="hero__item">
                        <p class="item__text">
                            <span class="text__color">Специальные предложения</span>
                            <br> Оптовым и крупным клиентам
                        </p>
                    </li>
                    <li class="hero__item">
                        <p class="item__text">
                            <span class="text__color">Заменяем колотые блоки</span>
                            <br> бесплатно
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section profit" id="profit">
            <div class="container profit__container">
                <h1 class="profit__title">Почему пеноблок выгоднее</h1>
                <ul class="profit__list">
                    <li class="profit__item">
                        <h3 class="item__subtitle">01</h3>
                        <p class="item__text">Не подвержен воздействию времени.</p>
                    </li>
                    <li class="profit__item">
                        <h3 class="item__subtitle">02</h3>
                        <p class="item__text">Возможность кладки на клей или раствор</p>
                    </li>
                    <li class="profit__item">
                        <h3 class="item__subtitle">03</h3>
                        <p class="item__text">Безвреден для здоровья человека
                        </p>
                    </li>
                    <li class="profit__item">
                        <h3 class="item__subtitle">04</h3>
                        <p class="item__text">Адаптирован к изменчивым климатическим условиям</p>
                    </li>
                    <li class="profit__item">
                        <h3 class="item__subtitle">05</h3>
                        <p class="item__text">Структура материала не позволяет впитывать влагу</p>
                    </li>
                    <li class="profit__item">
                        <h3 class="item__subtitle">06</h3>
                        <p class="item__text">Дешевле газобетона на 30-40%</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section catalog" id="catalog">
            <div class="container catalog__container">
                <h1 class="catalog__title">Каталог товаров</h1>
                <p class="catalog__text">
                    Для строительства малоэтажных строений рекомендуем стеновой пеноблок М25 Проекты более 2х этажей требуют более высокой прочности
                    материала М35, М50
                </p>
                <p class="catalog__text">
                    <span class="text__color">У нас доставка дешевле чем у конкурентов на 30%</span> за счет собственного транспорта
                </p>
                <ul class="catalog__list">
                    <li class="catalog__item">
                        <div class="item__info">
                            <div class="info__top">
                                <h3 class="top__title">Пеноблок стеновой</h3>
                                <img src="./assets/images/1.png" alt="#" class="info__img">
                                <ul class="top__class">
                                    <li class="class__item class__item--active">М25</li>
                                    <li class="class__item">М35</li>
                                    <li class="class__item">М50</li>
                                    <li class="class__item">2 сорт</li>
                                </ul>
                            </div>
                            <ul class="info__size">
                                <li class="size__item">
                                    <p class="item__name">Длина</p>
                                    <ul class="item__count">
                                        <li class="count__item count__item--active">600</li>
                                    </ul>
                                </li>
                                <li class="size__item">
                                    <p class="item__name">Ширина</p>
                                    <ul class="item__count">
                                        <li class="count__item count__item--active">300</li>
                                    </ul>
                                </li>
                                <li class="size__item">
                                    <p class="item__name">Высота</p>
                                    <ul class="item__count">
                                        <li class="count__item count__item--active">200</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="info__about">
                                <li class="about__item">— Прочность: B2.0(М25)</li>
                                <li class="about__item">— Кол-во блоков в 1 м3: 28</li>
                                <li class="about__item">— Плотность: D700</li>
                                <li class="about__item">— Кол-во на поддоне, шт: 40</li>
                                <li class="about__item">— Теплопроводность: 0,16</li>
                                <li class="about__item">— Вес: 27 кг</li>
                                <li class="about__item">— Морозостойкость: 45</li>
                            </ul>
                            <div class="info__buy">
                                <p class="buy__old">2100</p>
                                <p class="buy__new">1990 руб/м
                                    <sup>3</sup>
                                </p>
                                <button class="buy__btn">Узнать цену с доставкой</button>
                            </div>
                        </div>
                        <div class="item__img">
                            <img src="./assets/images/1.png" alt="#" class="img__img">
                        </div>
                    </li>
                    <li class="catalog__item">
                        <div class="item__info">
                            <div class="info__top">
                                <h3 class="top__title">Пеноблок перегородочный</h3>
                                <img src="./assets/images/2.png" alt="#" class="info__img">
                                <ul class="top__class">
                                    <li class="class__item class__item--active">М35</li>
                                </ul>
                            </div>
                            <ul class="info__size">
                                <li class="size__item">
                                    <p class="item__name">Длина</p>
                                    <ul class="item__count">
                                        <li class="count__item count__item--active">600</li>
                                    </ul>
                                </li>
                                <li class="size__item">
                                    <p class="item__name">Ширина</p>
                                    <ul class="item__count">
                                        <li class="count__item count__item--active">100</li>
                                        <li class="count__item">125</li>
                                        <li class="count__item">150</li>
                                    </ul>
                                </li>
                                <li class="size__item">
                                    <p class="item__name">Высота</p>
                                    <ul class="item__count">
                                        <li class="count__item count__item--active">300</li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="info__about">
                                <li class="about__item">— Прочность: B2.0(М25)</li>
                                <li class="about__item">— Кол-во блоков в 1 м3: 28</li>
                                <li class="about__item">— Плотность: D700</li>
                                <li class="about__item">— Кол-во на поддоне, шт: 40</li>
                                <li class="about__item">— Теплопроводность: 0,16</li>
                                <li class="about__item">— Вес: 27 кг</li>
                                <li class="about__item">— Морозостойкость: 45</li>
                            </ul>
                            <div class="info__buy">
                                <p class="buy__old">2300</p>
                                <p class="buy__new">2250 руб/м
                                    <sup>3</sup>
                                </p>
                                <button class="buy__btn">Узнать цену с доставкой</button>
                            </div>
                        </div>
                        <div class="item__img">
                            <img src="./assets/images/2.png" alt="#" class="img__img">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section calculate" id="calculate">
            <div class="container calculate__container">
                <h1 class="calculate__title">Расчет количества блоков</h1>
                <form action="#" class="calculate__form">
                    <input type="text" name="length" class="form__inp" placeholder="Длина стен, м">
                    <input type="text" name="height" class="form__inp" placeholder="Средняя высота стен, м">
                    <input type="text" name="width" class="form__inp" placeholder="Ширина стен, мм">
                    <input type="text" name="area" class="form__inp" placeholder="Площадь проемов м2">
                    <button class="form__btn">Рассчитать</button>
                </form>
            </div>
        </section>
        <section class="section callback">
            <div class="container callback__container">
                <div class="callback__content">
                    <img src="./assets/images/pdf.png" alt="#" class="content__img">
                    <h1 class="content__title">Оставьте заявку и получите
                        <span class="title__color">прайс — лист</span> всей продукции</h1>
                </div>
                <form action="#" class="callback__form">
                    <input type="text" name="name" class="form__inp" placeholder="Ваше имя">
                    <input type="text" name="phone" placeholder="Ваш телефон" class="form__inp">
                    <input type="text" name="email" placeholder="Ваш email" class="form__inp">
                    <button class="form__btn">Получить прайс-лист</button>
                </form>
            </div>
        </section>
        <section class="section plus" id="plus">
            <div class="container plus__container">
                <h1 class="plus__title">Мы ориентированы на клиента</h1>
                <ul class="plus__list">
                    <li class="plus__item">
                        <img src="./assets/images/plus-1.png" alt="#" class="item__img">
                        <h3 class="item__title">Доставка в день заказа</h3>
                        <p class="item__text item__text--large">В любое удобное для вас время по Челябинску, Челябинской области и регионам</p>
                    </li>
                    <li class="plus__item">
                        <img src="./assets/images/plus-2.png" alt="#" class="item__img">
                        <h3 class="item__title">Оплата наличными или по карте</h3>
                        <p class="item__text item__text--large">Оплатите продукцию на месте наличными или картой VISA, Master Card и др.</p>
                    </li>
                    <li class="plus__item">
                        <img src="./assets/images/plus-3.png" alt="#" class="item__img">
                        <h3 class="item__title">Бесплатное хранение
                        </h3>
                        <p class="item__text item__text--large">После оплаты, храните материалы сколько вам потребуется</p>
                    </li>
                    <li class="plus__item">
                        <img src="./assets/images/plus-4.png" alt="#" class="item__img">
                        <h3 class="item__title">Возможен обмен
                        </h3>
                        <p class="item__text">Обмен на квартиры, машины или на другой стройматериал</p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section confidence" id="confidence">
            <div class="container confidence__container">
                <h1 class="confidence__title">Почему нам доверяют</h1>
                <ul class="confidence__list">
                    <li class="confidence__item">
                        <h3 class="item__title">
                            <span class="title__color">10 лет</span>
                            <br> Успешной работы на строительном рынке
                        </h3>
                        <p class="item__text">
                            Производственно Строительная Компания «СтройПенобетон» является лидером по объему производства пенобетонных блоков в Челябинске
                            и Челябинской области.
                        </p>
                    </li>
                    <li class="confidence__item">
                        <h3 class="item__title">
                            <span class="title__color">7427 клиентов</span>
                            <br> Построили жилье из нашего пеноблока
                        </h3>
                        <p class="item__text">
                            Мы работаем на профессиональном оборудовании, используем для производства высокоточные формы обеспечивающие точную геометрию
                            и долговеность пеноблока.
                        </p>
                    </li>
                    <li class="confidence__item">
                        <h3 class="item__title">
                            <span class="title__color">543782 м
                                <sup>3</sup>
                            </span>
                            <br> Пеноблока выпушено за время работы
                        </h3>
                        <p class="item__text">
                            Продукция в больших объемах поставляется в соседние и северные регионы РФ: Тюменская,Свердловская, Курганская области, Ханты
                            — Мансийский авт. округ, а также Республика Башкортостан и др.
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section callback callback--plan">
            <div class="container callback__container">
                <div class="callback__content">
                    <img src="./assets/images/plan.png" alt="#" class="content__img">
                    <h1 class="content__title">Услуги проектировщика + помощь в подсчетах материала
                        <span class="title__color">бесплатно</span>
                    </h1>
                </div>
                <form action="#" class="callback__form">
                    <input type="text" name="name" class="form__inp" placeholder="Ваше имя">
                    <input type="text" name="phone" placeholder="Ваш телефон" class="form__inp">
                    <input type="text" name="email" placeholder="Ваш email" class="form__inp">
                    <button class="form__btn">Оставить заявку</button>
                </form>
            </div>
        </section>
        <section class="section quality" id="quality">
            <div class="container quality__container">
                <h1 class="quality__title">Качество от производителя</h1>
                <ul class="quality__list">
                    <li class="quality__item">
                        <div class="item__block">
                            <img src="./assets/images/quality-1.png" alt="" class="block__img">
                        </div>
                    </li>
                    <li class="quality__item">
                        <div class="item__block">
                            <img src="./assets/images/quality-2.png" alt="" class="block__img">
                        </div>
                    </li>
                    <li class="quality__item">
                        <div class="item__block">
                            <img src="./assets/images/quality-3.png" alt="" class="block__img">
                        </div>
                    </li>
                    <li class="quality__item">
                        <div class="item__block">
                            <img src="./assets/images/quality-4.png" alt="" class="block__img">
                        </div>
                    </li>
                    <li class="quality__item">
                        <div class="item__block">
                            <img src="./assets/images/quality-5.png" alt="" class="block__img">
                        </div>
                    </li>
                    <li class="quality__item">
                        <div class="item__block">
                            <img src="./assets/images/quality-6.png" alt="" class="block__img">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section choice" id="choise">
            <div class="container choice__container">
                <h1 class="choise__title">Как выбрать правильный пеноблок</h1>
                <ul class="choise__list">
                    <li class="choise__item">
                        <h3 class="item__title">01</h3>
                        <p class="item__text">
                            Блоки должны иметь точную геометрию. Это делается для того, чтобы кладочный или клеевой ратвор не превышал 5-7 мм, а значит,
                            потери тепла через швы и стыки были минимальны.
                        </p>
                    </li>
                    <li class="choise__item">
                        <h3 class="item__title">02</h3>
                        <p class="item__text">
                            Использование обычных масел для смазывания форм вместо биоразлагаемых. Технические масла не разлагаются, а значит блоки невозможно
                            оштукатурить или покрасить.
                        </p>
                    </li>
                    <li class="choise__item">
                        <h3 class="item__title">03</h3>
                        <p class="item__text">
                            Срок выдержки пенобетона. В пенобетоне активные химические процессы идут ещё месяц со дня изготовления. В этот период материал
                            набирается крепости.
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section callback callback--house">
            <div class="container callback__container">
                <div class="callback__content">
                    <img src="./assets/images/house.png" alt="#" class="content__img">
                    <h1 class="content__title">При покупке 1м<sup>3</sup> пеноблока
                        <span class="title__color">«Обратная засыпка»</span>
                        фундамента для утепления в подарок
                    </h1>
                </div>
                <form action="#" class="callback__form">
                    <input type="text" name="name" class="form__inp" placeholder="Ваше имя">
                    <input type="text" name="phone" placeholder="Ваш телефон" class="form__inp">
                    <input type="text" name="email" placeholder="Ваш email" class="form__inp">
                    <button class="form__btn">Получить подарок</button>
                </form>
            </div>
        </section>
        <section class="section complete" id="complete">
            <div class="container complete__container">
                <h1 class="complete__title">Готовые проекты</h1>
                <ul class="complete__list">
                    <li class="complete__item">
                        <a href="#" class="item__link item__link--active">Коттеджи</a>
                    </li>
                    <li class="complete__item">
                        <a href="#" class="item__link">Бани</a>
                    </li>
                    <li class="complete__item">
                        <a href="#" class="item__link">Гаражи</a>
                    </li>
                    <li class="complete__item">
                        <a href="#" class="item__link">Высотные здания</a>
                    </li>
                </ul>
                <img src="./assets/images/complete.png" alt="" class="complete__img">
            </div>
        </section>
        <section class="section another" id="another">
            <div class="container another__container">
                <h1 class="another__title">С пеноблоком также покупают</h1>
                <ul class="another__list">
                    <li class="another__item">
                        <div class="item__content">
                            <h3 class="item__title">Бетон товарный, фбс блок</h3>
                            <img src="./assets/images/another/another-1.png" alt="" class="item__img item__img--active">
                            <ul class="item__list">
                                <li class="list__item">
                                    — Всех марок
                                </li>
                                <li class="list__item">
                                    — Всех типов и размеров
                                </li>
                                <li class="list__item">
                                    — С доставкой
                                </li>
                            </ul>
                            <div class="item__buy">
                                <p class="buy__price">от 1990 руб/м
                                    <sup>3</sup>
                                </p>
                                <button class="buy__btn">Перейти в каталог</button>
                            </div>
                        </div>
                        <div class="item__img">
                            <img src="./assets/images/another/another-1.png" alt="" class="img__img">
                        </div>
                    </li>
                    <li class="another__item">
                        <div class="item__content">
                            <h3 class="item__title">Перемычки ППБ армированные для пеноблока</h3>
                            <img src="./assets/images/another/another-2.png" alt="" class="item__img item__img--active">
                            <ul class="item__list">
                                <li class="list__item">
                                    — Ширина 100, 120, 150, 200, 250, 300, 400 мм
                                </li>
                                <li class="list__item">
                                    — Длина от 0.8 до 4 м
                                </li>
                            </ul>
                            <div class="item__buy">
                                <p class="buy__price">от 350 руб/шт</p>
                                <button class="buy__btn">Перейти в каталог</button>
                            </div>
                        </div>
                        <div class="item__img">
                            <img src="./assets/images/another/another-2.png" alt="" class="img__img">
                        </div>
                    </li>
                    <li class="another__item">
                        <div class="item__content">
                            <h3 class="item__title">Кирпичи</h3>
                            <img src="./assets/images/another/another-3.png" alt="" class="item__img item__img--active">
                            <ul class="item__list">
                                <li class="list__item">
                                    — Полнотелый
                                </li>
                                <li class="list__item">
                                    — Пустотелый
                                </li>
                                <li class="list__item">
                                    — Лицевой
                                </li>
                            </ul>
                            <div class="item__buy">
                                <p class="buy__price">от 6 руб/шт
                                </p>
                                <button class="buy__btn">Перейти в каталог</button>
                            </div>
                        </div>
                        <div class="item__img">
                            <img src="./assets/images/another/another-3.png" alt="" class="img__img">
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <section class="section callback callback--change">
            <div class="container callback__container">
                <div class="callback__content">
                    <img src="./assets/images/change.png" alt="#" class="content__img">
                    <h1 class="content__title">Бесплатно заменяем колотые блоки</h1>
                </div>
                <form action="#" class="callback__form">
                    <input type="text" name="name" class="form__inp" placeholder="Ваше имя">
                    <input type="text" name="phone" placeholder="Ваш телефон" class="form__inp">
                    <input type="text" name="email" placeholder="Ваш email" class="form__inp">
                    <button class="form__btn">Заказать пеноблок</button>
                </form>
            </div>
        </section>
        <section class="section contacts" id="contacts">
            <div class="container contacts__container">
                <div class="contacts__content">
                    <h1 class="content__title">Адрес и контакты</h1>
                    <p class="content__text">
                        ПСК «СтройПенобетон» г.Челябинск ул.Складская-1
                    </p>
                    <a href="tel:+7351777557674" class="content__link">+7 (351) 777-55-76 74</a>
                    <a href="mailto:spb@mail.ru" class="content__link">spb@mail.ru</a>
                </div>
                <div class="contacts__map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3217e8003f8f442df60c3a353015bb83dc0119bc39c8fdf7494d894625265d8f&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </section>
        <section class="section callback callback--question">
            <div class="container callback__container">
                <div class="callback__content">
                    <h1 class="content__title">Возникли вопросы?</h1>
                    <p class="content__text">Оставьте заявку, наш менеджер свяжется с вами</p>
                </div>
                <form action="#" class="callback__form">
                    <input type="text" name="name" class="form__inp" placeholder="Ваше имя">
                    <input type="text" name="phone" placeholder="Ваш телефон" class="form__inp">
                    <input type="text" name="email" placeholder="Ваш email" class="form__inp">
                    <button class="form__btn">Оставить заявку</button>
                </form>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__logo">
                    <img src="./assets/images/logo.png" alt="logo" class="logo__img">
                </div>
                <div class="footer__text">
                    <p class="text__text">ООО ПСК «СтройПенобетон»
                        <br> ИНН 7452120698 КПП 745201001</p>
                </div>
                <a href="#" target="_blank" class="footer__rp">
                    <p class="rp__text">Создание и продвижение сайта</p>
                    <img src="./assets/images/rp-logo.png" alt="logo" class="rp__logo">
                </a>
            </div>
        </footer>
        <div class="modal__card">
            <h1 class="modal__title">Заказать звонок</h1>
            <form class="modal__form">
                <input type="text" name="name" class="form__inp" placeholder="Ваше имя">
                <input type="text" name="phone" class="form__inp" placeholder="Телефон">
                <input type="text" name="email" class="form__inp" placeholder="Email">
                <button class="form__btn">Заказать звонок</button>
            </form>
            <button class="modal__exit">&times;</button>
        </div>
        <div class="modal__card-price">
            <h1 class="modal__title">Узнать цену с доставкой</h1>
            <form class="modal__form">
                <input type="text" name="name" class="form__inp" placeholder="Ваше имя">
                <input type="text" name="phone" class="form__inp" placeholder="Телефон">
                <input type="text" name="email" class="form__inp" placeholder="Email">
                <button class="form__btn">Узнать цену с доставкой</button>
            </form>
            <button class="modal__exit">&times;</button>
        </div>
        <div class="bg__modal"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>